.page-title {
  text-align: center;
  border-bottom: 2px solid #ddd;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.book-list {
  border: 1px solid #ddd;
  border-radius: 10px;
  overflow: hidden;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.book {
  padding: 15px 20px;
  border-bottom: 1px solid #ddd;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.book:last-child {
  border-bottom: none;
}

.title {
  font-weight: bold;
  font-size: 1.1em;
}

.author {
  color: gray;
  font-size: 0.9em;
  margin-left: 10px;
  flex-grow: 1;
}

button {
  padding: 6px 14px;
  border-radius: 5px;
  border: 1px solid #4caf50;
  background-color: #4caf50;
  color: white;
  cursor: pointer;
  font-size: 0.9em;
  transition: background-color 0.3s ease;
}

button:disabled {
  background-color: #9e9e9e;
  border-color: #9e9e9e;
  cursor: not-allowed;
}

button:hover:not(:disabled) {
  background-color: #45a049;
  border-color: #45a049;
}

.form-container-books {
    background-color: #fff;
    padding: 20px 25px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 800px;
}

.form-container-profile {
    background-color: #fff;
    padding: 20px 25px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 800px;
}

.form-container-transactions {
    background-color: #fff;
    padding: 20px 25px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 800px;
}

.form-container-roles {
    background-color: #fff;
    padding: 20px 25px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 800px;
}

.user-role-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.user-details {
  flex-grow: 1;
}
